body {
    background-color: #EDF2F4;
}

h1 {
    font-family: cursive;
    color: red;
    text-align: center;
    font-size: 5em;
}

.instructions {
    color: #2B2D42;
    font-size: 20px;
}

.main-content {
    margin: 0 auto;
    text-align: center;
}

.button {
    font-family: cursive;
    font-size: 15px;
    margin: 5px 5px 0;
    color: white;
    background-color: rgb(3, 110, 3);
}

#textArea {
    font-size: 20px;
    text-align: center;
}

#output {
    margin: 10px auto 0;
    width: 600px;
    height: 200px;
    background-color: white;
    font-size: 20px;
}